

<%- include('../partials/userhomeheader.ejs') -%>
<br /><br /><br />
<br />
<div class="breadcrumb-area bg-dark mt-5">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2 style="font-weight: bold" class="text-danger">Add Address</h2>
    </div>
  </div>
</div>
<div class="container">
<form class="p-2" action="" method="post">
    <div class="checkout-wrap pt-30">
      <div class="row">
        <div class="col-lg-7">
          <div class="billing-info-wrap mr-50">
            <h3>Billing Details</h3>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                  <label
                    >First Name
                    <abbr class="required" title="required">*</abbr></label
                  >
                  <input type="text" name="firstname" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                  <label
                    >Last Name
                    <abbr class="required" title="required">*</abbr></label
                  >
                  <input type="text" name="lastname" />
                </div>
              </div>
              <!-- <div class="col-lg-12">
                              <div class="billing-info mb-20">
                                  <label>Company Name <abbr class="required" title="required">*</abbr></label>
                                  <input type="text">
                              </div>
                          </div> -->
              <div class="col-lg-12">
                <div class="billing-select mb-20">
                  <label
                    >Country
                    <abbr class="required" title="required">*</abbr></label
                  >
                  
                  <select name="country">
                    <option>Select a country</option>
                    <option>India</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label
                    >Street Address
                    <abbr class="required" title="required">*</abbr></label
                  >
                  <input
                    class="billing-address"
                    placeholder="House number and street name"
                    type="text"
                    name="address"
                  />
                  <input
                    placeholder="Apartment, suite, unit etc."
                    type="text"
                    name="address2"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label
                    >Town / City
                    <abbr class="required" title="required">*</abbr></label
                  >
                  <input type="text" name="city" />
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                  <label
                    >State / County
                    <abbr class="required" title="required">*</abbr></label
                  >
                  <input type="text" name="state" />
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                  <label
                    >Postcode / ZIP
                    <abbr class="required" title="required">*</abbr></label
                  >
                  <input type="text" name="pin" />
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                  <label
                    >Phone
                    <abbr class="required" title="required">*</abbr></label
                  >
                  <input type="text" name="mobileno" />
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                  <label
                    >Email Address
                    <abbr class="required" title="required">*</abbr></label
                  >
                  <input type="text" name="email" />
                </div>
              </div>
            </div>
            </div></div></div></div>
        <button type="submit" class="btn-success">submit </button>
        </form>
        </div>
        
        <%- include('../partials/userfooter.ejs') -%>