<%- include('../partials/userhomeheader.ejs') -%>


<br><br><br><br>
        <!-- <div class="breadcrumb-area bg-light"> -->
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2 style="font-weight: bold;" class="text-success">Your order was Successful.</h2>
                    <a href="/"><h3 class="text-red" style="font-weight: bold;">Continue shopping</h3></a>
                 </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <a href="/current-order-summary"><button class="btn btn-success">View Order Summary</button></a>
            </div>
            <br><br><br>
        <!-- </div> -->

<%- include('../partials/userfooter.ejs') -%>


